{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
<facet-filters-form class="facets--bar{% if facets_desktop == 'sidebar' %} facets--bar-inline{% endif %}">
	<form id="FacetFiltersForm-bar" class="facets__form">
		{%- if results.terms -%}
			<input type="hidden" name="q" value="{{ results.terms | escape }}">
			<input name="options[prefix]" type="hidden" value="last">
		{%- endif -%}
		{% if results.current_vendor or results.current_type %}
			<input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
		{% endif %}
		<div>
			{%- if enable_filtering -%}
			<a href="#SideFilters" class="facets-toggle" id="Facets-Toggle">{% render 'svg-icons' with 'thb-filter' %} {{ 'products.facets.filter_and_sort' | t }}</a>
			{%- endif -%}
		</div>

		<div class="thb-filter-sort-count">
			{%- if enable_sorting -%}
				<div class="thb-filter-sort">
					<custom-select class="custom-select" data-auto-close="true">
						{%- liquid
							assign sort_by = results.sort_by | default: results.default_sort_by
							for option in results.sort_options
								if option.value == sort_by
									assign sort_by_name = option.name
								endif
							endfor
						-%}
						<button class="custom-select--button"><span class="custom-select--text">{{ sort_by_name }}</span> <span class="custom-select--arrow">{%- render 'svg-icons' with 'thb-select' -%}</span></button>
						<div class="custom-select--list">
							<scroll-shadow>
								<ul>
									{%- for option in results.sort_options -%}
				            <li class="custom-select--item" tabindex="-1">
				              <button class="{% if option.value == sort_by %}custom-select--item-active{% endif %}" {% if option.value == sort_by %} aria-current="true"{% endif %} data-value="{{ option.value | escape }}">
												{{ option.name | escape }}
				              </button>
				            </li>
				          {%- endfor -%}
								</ul>
							</scroll-shadow>
						</div>
						<input type="hidden" id="SortBy" name="sort_by" value="{{ results.default_sort_by }}">
					</custom-select>
				</div>
			{%- endif -%}
			<div class="thb-filter-count" id="ProductCount">
				<span class="facets__label">
					{%- if results.results_count -%}
						{{ 'search.results_with_count' | t: terms: results.terms, count: results.results_count }}
					{%- elsif results.products_count == results.all_products_count -%}
						{{ 'products.facets.product_count_simple' | t: count: results.products_count }}
					{%- else -%}
						{{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
					{%- endif -%}
				</span>
				<span class="loading-overlay">
					{% render 'svg-icons' with 'thb-loading' %}
				</span>
			</div>
		</div>
	</form>
	{%- if enable_filtering -%}
	{% render 'facets-active', results: results, results_url: results_url %}
	{%- endif -%}
</facet-filters-form>
