{%- liquid
  assign products_hover_images = settings.products_hover_images
  assign product_aspect_ratio = settings.product_aspect_ratio
  assign product_content_alignment = settings.product_content_alignment
  assign featured_media = product_card_product.featured_media
  assign product_price_position = settings.product_price_position
  assign ratio = 1
  assign sizes = '298x298,596x596'
  assign info_spacing = true
  assign product_card_border = settings.product_card_border
  assign product_card_shadow = settings.product_card_shadow
  assign product_card_shadow_class = 'has-shadow--' | append: product_card_shadow

  if featured_media.media_type != 'image'
    assign featured_media = featured_media.preview_image
  endif
  if product_aspect_ratio == 'adapt'
    assign ratio = featured_media.aspect_ratio
    assign sizes = '298x0,596x0'
  elsif product_aspect_ratio == 'portrait'
    assign ratio = 1 | divided_by: 1.25
    assign sizes = '298x350,596x700'
  elsif product_aspect_ratio == 'landscape'
    assign ratio = 1 | divided_by: 0.75
    assign sizes = '298x250,596x500'
  endif

  assign color_body_bg = settings.color_body_bg | downcase
  assign color_product_card_bg = settings.color_product_card_bg | downcase

  if color_body_bg == color_product_card_bg or color_product_card_bg == 'transparent' or color_product_card_bg == 'rgba(0,0,0,0)'
    unless product_card_border
      assign info_spacing = false
    endunless
    if product_card_shadow
      assign info_spacing = true
    endif
  endif

  assign label_1_field = settings.product_label_1
  assign label_2_field = settings.product_label_2
  assign label_3_field = settings.product_label_3
  assign label_4_field = settings.product_label_4

  assign is_purchasable = false
  if product_card_product.available and product_card_product.variants.size == 1
    assign is_purchasable = true
  endif
-%}
{%- if product_card_product and product_card_product != empty -%}
  {% comment %}Added/Modified by Limoni Apps on 28/06/22 to support Discount Ninja{% endcomment %}

  <product-card
    id="{{ product_card_product.handle }}"
    data-limoniapps-discountninja-product-handle="{{ product_card_product.handle }}"
    data-limoniapps-discountninja-product-collections="{{ product_card_product.collections | map: 'handle' | join: ',' | default: '[[--NONE--]]' }}"
    data-limoniapps-discountninja-product-collectionids="{{ product_card_product.collections | map: 'id' | join: ',' | default: '[[--NONE--]]' }}"
    data-limoniapps-discountninja-product-available="{{ product_card_product.available}}"
    data-limoniapps-discountninja-product-price="{{ product_card_product.first_available_variant.price | default: product_card_product.price }}"
    data-limoniapps-discountninja-product-compareatprice="{{ product_card_product.first_available_variant.compare_at_price | default: product_card_product.first_available_variant.price | default: product_card_product.compare_at_price | default: product_card_product.price }}"
    data-limoniapps-discountninja-product-pricevaries="{{ product_card_product.price_varies}}"
    data-limoniapps-discountninja-product-pricemin="{{ product_card_product.price_min}}"
    data-limoniapps-discountninja-product-tags="{{ product_card_product.tags | join: ',' | escape | default: '[[--NONE--]]' }}"
    class="product-card text-{{ product_content_alignment }} product-card--content-spacing-{{ info_spacing }} product-card--border-{{ product_card_border }} {{ product_card_shadow_class }}"
  >
    <figure class="limoniapps-discountninja-collectionbadge product-featured-image {% if products_hover_images and product_card_product.images.size > 1 %}thb-hover{% endif %}">
      {% render 'product-card-badge', product_card_product: product_card_product %}
      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.title | escape }}"
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
        style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if products_hover_images and product_card_product.images.size > 1 -%}
          {%- render 'responsive-image',
            class: 'product-secondary-image',
            image: product_card_product.images[1],
            sizes: sizes
          -%}
        {%- endif -%}
        {%- if featured_media -%}
          {%- render 'responsive-image', class: 'product-primary-image', image: featured_media, sizes: sizes -%}
        {%- else -%}
          <div class="thb-placeholder">
            {{ 'product-1' | placeholder_svg_tag }}
          </div>
        {%- endif -%}

        {%- if settings.enable_quick_view -%}
          <quick-view
            class="product-card-quickview"
            data-product-handle="{{ product_card_product.handle }}"
            tabindex="-1"
          >
            <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
            <span>{{ 'products.product.quick_view' | t }}</span>
          </quick-view>
        {%- endif -%}
      </a>
    </figure>
    <div class="product-card-info">
      {%- if settings.show_products_vendor -%}
        <div class="product-card-vendor">
          <a
            href="{{ product_card_product.vendor | url_for_vendor }}"
            title="{{ product_card_product.vendor | escape }}"
          >
            {{- product_card_product.vendor -}}
          </a>
        </div>
      {%- endif -%}
      {%- liquid
        if product_price_position == 'before-product-title'
          render 'elsklip_collection_block', product: product_card_product, short: true
          render 'product-price', product: product_card_product
        endif
      -%}
      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.title | escape }}"
        class="product-card-title"
      >
        {{- product_card_product.title -}}
      </a>
      {%- if product_card_product.metafields.custom.fda_clearance_status -%}
        <div class="product_card_clearance">
          <i class="fa-sharp fa-solid fa-badge-check" style="color: #D02030;"></i>
          {{ product_card_product.metafields.custom.fda_clearance_status }}
        </div>
      {%- endif -%}
      {%- liquid
        if product_price_position == 'after-product-title' and collection.id == 417111671024
          render 'elsklip_collection_block', product: product_card_product, short: true
          render 'product-price-fc', product: product_card_product
        else
          render 'product-price', product: product_card_product
        endif
      -%}
      {% render 'product-card-swatch', product: product_card_product, sizes: sizes %}
      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div
          class="star-rating"
          style="--star-rating: {{ product_card_product.metafields.reviews.rating.value.rating }};"
        >
          {%- if settings.show_products_rating_average -%}
            <span class="body-font">{{ product_card_product.metafields.reviews.rating.value.rating }}</span>
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- render 'product-card-labels', product: product_card_product -%}
      {%- if settings.enable_view_product -%}
        <a
          href="{{ product_card_product.url | within: collection }}"
          title="{{ product_card_product.title | escape }}"
          class="view-product-btn button accent"
          style="width:100%"
          >View Product</a
        >
      {%- endif -%}
      {%- if settings.enable_quick_add -%}
        {% if is_purchasable %}
          <button
            class="product-card--add-to-cart-button product-card--add-to-cart-button-simple button accent"
            data-product-id="{{ product_card_product.selected_or_first_available_variant.id }}"
            tabindex="-1"
            {% if product_card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            {% render 'svg-icons' with 'thb-loading' %}
            <span class="product-card--add-to-cart-text">
              {%- if product_card_product.selected_or_first_available_variant.available -%}
                {{- 'products.product.add_to_cart' | t -}}
              {%- else -%}
                {{- 'products.product.sold_out' | t -}}
              {%- endif -%}
            </span>
          </button>
        {% else %}
          <quick-view
            class="product-card--add-to-cart-button button accent"
            data-product-handle="{{ product_card_product.handle }}"
            tabindex="-1"
          >
            {% render 'svg-icons' with 'thb-loading' %}
            <span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
          </quick-view>
        {% endif %}
      {%- endif -%}
    </div>
  </product-card>
{%- else -%}
  <product-card class="product-card text-{{ product_content_alignment }} product-card--content-spacing-{{ info_spacing }} product-card--border-{{ product_card_border }} {{ product_card_shadow_class }}">
    <figure class="product-featured-image {% if settings.products_hover_images %}thb-hover{% endif %}">
      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.title | escape }}"
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
        style="--padding-bottom: {{ 1 | divided_by: 1 | times: 100 }}%;"
      >
        <div class="thb-placeholder">
          {{ 'product-1' | placeholder_svg_tag }}
        </div>
        <quick-view
          class="product-card-quickview"
          data-product-handle="{{ product_card_product.handle }}"
          tabindex="-1"
        >
          <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
          <span>{{ 'products.product.quick_view' | t }}</span>
        </quick-view>
      </a>
    </figure>
    <div class="product-card-info">
      <div class="product-card-vendor">
        <a href="#" title="{{ 'onboarding.product_vendor' | t }}">{{ 'onboarding.product_vendor' | t }}</a>
      </div>
      {%- liquid
        if product_price_position == 'before-product-title'
          render 'product-price', product: product_card_product
        endif
      -%}
      <a href="#" title="{{ product_card_product.title | escape }}" class="product-card-title">
        {{- 'onboarding.product_title' | t -}}
      </a>
      {%- liquid
        if product_price_position == 'after-product-title'
          render 'product-price', product: product_card_product
        endif
      -%}
      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div class="star-rating" style="--star-rating: 5;"><span class="body-font">5</span></div>
      {%- endif -%}
      {%- if settings.enable_quick_add -%}
        <quick-view class="product-card--add-to-cart-button button accent" data-product-handle="" tabindex="-1">
          {% render 'svg-icons' with 'thb-loading' %}
          <span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
        </quick-view>
      {%- endif -%}
    </div>
  </product-card>
{%- endif -%}
