{%- liquid
	assign is_purchasable = false
	if product_small.available and product_small.variants.size == 1
		assign is_purchasable = true
	endif
-%}
{% comment %}Added/Modified by Limoni Apps on 28/06/22 to support Discount Ninja{% endcomment %}

<product-card-small 
data-limoniapps-discountninja-product-handle="{{ product_small.handle }}"
data-limoniapps-discountninja-product-collections="{{ product_small.collections | map: 'handle' | join: ',' | default: '[[--NONE--]]' }}"
data-limoniapps-discountninja-product-collectionids="{{ product_small.collections | map: 'id' | join: ',' | default: '[[--NONE--]]' }}"
data-limoniapps-discountninja-product-available="{{ product_small.available}}"
data-limoniapps-discountninja-product-price="{{ product_small.first_available_variant.price | default: product_small.price }}"
data-limoniapps-discountninja-product-compareatprice="{{ product_small.first_available_variant.compare_at_price | default: product_small.first_available_variant.price | default: product_small.compare_at_price | default: product_small.price }}"
data-limoniapps-discountninja-product-pricevaries="{{ product_small.price_varies}}"
data-limoniapps-discountninja-product-pricemin="{{ product_small.price_min}}"
data-limoniapps-discountninja-product-tags="{{ product_small.tags | join: ',' | escape | default: '[[--NONE--]]' }}"
class="product-card-small quick-add-to-card--{{ is_purchasable }}" data-url="{{ product_small.url }}" data-id="{{ product_small.selected_or_first_available_variant.id }}" data-product-handle="{{ product_small.handle }}">
	<div class="product-card-small--image">
		<a href="{{ product_small.url }}" title="{{ product_small.title | escape }}" class="product-cart-small--image-link">
			{% if product_small.featured_image %}
				{%- render 'responsive-image', image: product_small.featured_image, sizes: '200x0' -%}
			{% else %}
				<div class="thb-placeholder" style="width: 70px; height:80px;">
					{%-
						liquid
						capture index
							cycle '1', '2', '3', '4', '5', '6'
						endcapture
					-%}
					{{ 'product-' | append: index | placeholder_svg_tag }}
				</div>
			{% endif %}
		</a>
	</div>
	<div class="product-card-small--info">
		{%-
			liquid
			assign product_title = product_small.title
			if predictive_search
				assign product_title = product_title | highlight: predictive_search.terms
			endif
		-%}
		<a href="{{ product_small.url }}" title="{{ product_small.title | escape }}" class="product-card-small--link">{{ product_title }}</a>
		<div class="product-card-small--add-to-cart">
			{% render 'product-price', product: product_small %}
			{% if is_purchasable %}
			<button class="product-card-small--add-to-cart-button"><span class="product-card-small--add-to-cart-icon">{%- render 'svg-icons' with 'thb-add-to-cart' %}<span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span></span> <span class="product-card-small--add-to-cart-text">{{ 'products.product.add_to_cart' | t }}</span></button>
			{% else %}
			<quick-view class="product-card-small--add-to-cart-button" data-product-handle="{{ product_small.handle }}"><span class="product-card-small--add-to-cart-icon">{%- render 'svg-icons' with 'thb-add-to-cart' %}<span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span></span> <span class="product-card-small--add-to-cart-text">	{{ 'products.product.choose_options' | t }}</span></quick-view>
			{% endif %}
		</div>
	</div>
</product-card-small>
