{{- 'image-with-text-overlay.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign full_width = section.settings.full_width
	assign image = section.settings.image
	assign mobile_image = section.settings.mobile_image
	assign image_parallax = section.settings.image_parallax
	assign desktop_height = section.settings.desktop_height
	assign mobile_height = section.settings.mobile_height

	assign content_width = section.settings.content_width
	assign content_position = section.settings.content_position
	assign text_alignment = section.settings.text_alignment

	assign text_color = section.settings.text_color
	assign overlay_color = section.settings.overlay_color
	assign overlay_opacity = section.settings.overlay_opacity

	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	case mobile_height
		when 'mobile-height-350'
			assign mobile_image_height = 350
		when 'mobile-height-400'
			assign mobile_image_height = 400
		when 'mobile-height-450'
			assign mobile_image_height = 450
		when 'mobile-height-500'
			assign mobile_image_height = 500
		else
			assign mobile_image_height = 900
	endcase
-%}
<div class="row {% if full_width %}full-width-row-full{% endif %}">
	<div class="small-12 columns">
		<image-with-text-overlay class="image-with-text-overlay image-with-text-overlay--full-width-{{ full_width }} text-{{ text_alignment }} {{ mobile_height }} {{ desktop_height }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--text-color: {{ text_color}}; --overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}">
			<div class="image-with-text-overlay--bg parallax--{{ image_parallax }}">
				{% if image %}
					{%- liquid
						assign small_width = image.src.height | times: '375' | divided_by: image.src.width
						assign master_width = image.src.width | append: 'x' | append: image.src.height
						assign width = '375x' | append: small_width | append: ',' | append: master_width

						assign class = ''
						if image_parallax
							assign class = 'thb-parallax-image'
						endif

						if mobile_image
							assign class = class | append: ' image-with-text-overlay--desktop'
						endif
					-%}
					{%- render 'responsive-image', image: image, sizes: width, class: class -%}
				{% else %}
					{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder_svg_tag' }}
				{% endif %}
				{%- if mobile_image -%}
					{%- liquid
						assign image = mobile_image
						assign master_width = image.src.width | append: 'x' | append: image.src.height
						assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

						assign class = ''
						if image_parallax
							assign class = 'thb-parallax-image'
						endif

						assign class = class | append: ' image-with-text-overlay--mobile'
						render 'responsive-image', image: image, sizes: width, class: class
					-%}
				{%- endif -%}
			</div>

			<div class="image-with-text-overlay--content content-{{ content_position }}">
				<div class="image-with-text-overlay--content-inner content-width-{{ content_width }}">
					{% for block in section.blocks %}
						{%- case block.type -%}
							{%- when 'badge' -%}
								<div>
									<span class="inline-badge" style="--badge-bg: {{ block.settings.color_bg }};--badge-text: {{ block.settings.color_text }}">{{ block.settings.text }}</span>
								</div>
							{%- when 'subheading' -%}
								<p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
							{%- when 'heading' -%}
								<h3 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.text | newline_to_br }}</h3>
							{%- when 'heading_text' -%}
							<h3 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.text | newline_to_br }}</h3>
							{%- when 'text' -%}
								<div class="rte description-size--{{ block.settings.description_size }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'custom_html'-%}
								<div class="custom_html_xlaw">{{ block.settings.custom_html }}</div>
							{%- when 'custom_liquid'-%}
								<div class="custom_liquid_xlaw">{{ block.settings.custom_liquid }}</div>
							{%- when 'button' -%}
								{% if block.settings.button_text != blank %}
									<a class="button {{ block.settings.button_color }}" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}>{{ block.settings.button_text }}</a>
								{% endif %}
							{% when 'space' %}
		            <div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
						{%- endcase -%}
					{% endfor %}
				</div>
			</div>
		</image-with-text-overlay>
	</div>
</div>
<script src="{{ 'image-with-text-overlay.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "Image with text overlay",
		"class": "section-image-with-text-overlay",
    "settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
				"info": "2800 x 650 .jpg recommended."
			},
			{
				"type": "image_picker",
				"id": "mobile_image",
				"label": "Mobile image (optional)",
				"info": "375 x 650 .jpg recommended."
			},
			{
				"type": "checkbox",
				"id": "image_parallax",
				"default": false,
				"label": "Enable parallax",
				"info": "Animations must be enabled in theme settings"
			},
			{
				"type": "select",
				"id": "desktop_height",
				"label": "Desktop height",
				"options": [
					{
						"value": "desktop-height-450",
						"label": "450px"
					},
					{
						"value": "desktop-height-550",
						"label": "550px"
					},
					{
						"value": "desktop-height-650",
						"label": "650px"
					},
					{
						"value": "desktop-height-750",
						"label": "750px"
					},
					{
						"value": "desktop-height-full",
						"label": "Full screen"
					}
				],
				"default": "desktop-height-650"
			},
			{
				"type": "select",
				"id": "mobile_height",
				"label": "Mobile height",
				"options": [
					{
						"value": "mobile-height-auto",
						"label": "Adapt to content"
					},
					{
						"value": "mobile-height-350",
						"label": "350px"
					},
					{
						"value": "mobile-height-400",
						"label": "400px"
					},
					{
						"value": "mobile-height-450",
						"label": "450px"
					},
					{
						"value": "mobile-height-500",
						"label": "500px"
					},
					{
						"value": "mobile-height-full",
						"label": "Full screen"
					}
				],
				"default": "mobile-height-500"
			},
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Make section full width",
				"default": true
			},
			{
				"type": "select",
				"id": "content_width",
				"label": "Content width",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "medium",
						"label": "Medium"
					},
					{
						"value": "large",
						"label": "Large"
					}
				],
				"default": "medium"
			},
			{
				 "type": "select",
				 "id": "content_position",
				 "label": "Content position",
				 "options": [
					 { "value": "top-left", "label": "Top left" },
					 { "value": "top-center", "label": "Top center" },
					 { "value": "top-right", "label": "Top right" },
					 { "value": "middle-left", "label": "Middle left" },
					 { "value": "middle-center", "label": "Middle center" },
					 { "value": "middle-right", "label": "Middle right" },
					 { "value": "bottom-left", "label": "Bottom left" },
					 { "value": "bottom-center", "label": "Bottom center" },
					 { "value": "bottom-right", "label": "Bottom right" }
				 ],
				 "default": "bottom-center"
			},
			{
				"type": "select",
				"id": "text_alignment",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "center",
				"label": "Content alignment"
			},
			{
	      "type": "header",
	      "content": "Colors"
	    },
			{
				"type": "color",
				"id": "text_color",
				"label": "Text",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "overlay_color",
				"label": "Overlay",
				"default": "#000000"
			},
			{
				"type": "range",
				"id": "overlay_opacity",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "%",
				"label": "Overlay opacity",
				"default": 30
			},
			{
	      "type": "header",
	      "content": "Spacing"
	    },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
			{
				"type": "badge",
				"name": "Badge",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Badge heading"
					},
					{
						"type": "color",
						"id": "color_bg",
						"label": "Background",
						"default": "#3f72e5"
					},
					{
						"type": "color",
						"id": "color_text",
						"label": "Text",
						"default": "#ffffff"
					}
				]
			},
			{
			"type": "custom_html",
			  "name": "Custom HTML",
			  "settings": [
				{
				  "type": "html",
				  "id": "custom_html",
				  "label": "Custom HTML",
				  "info": "Add Custom HTML Code."
				}
			  ]
			},
			{
			 "type": "custom_liquid",
			   "name": "Custom liquid",
			   "settings": [
				 {
				   "type": "liquid",
				   "id": "custom_liquid",
				   "label": "Custom liquid",
				   "info": "Add app snippets or other Liquid code to create advanced customizations."
				 }
			   ]
			 },
			{
				"type": "subheading",
				"name": "Subheading",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Add a tagline"
					}
				]
			},
			{
				"type": "heading",
				"name": "Heading HTML",
				"limit": 2,
				"settings": [
					{
						"type": "html",
						"id": "text",
						"label": "Text",
						"default": "Image with text overlay"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h2",
								"label": "Small"
							},
							{
								"value": "h1",
								"label": "Medium"
							},
							{
								"value": "h1-large",
								"label": "Large"
							},
							{
								"value": "h1-xlarge",
								"label": "Extra large"
							}
						],
						"default": "h1-xlarge"
					}
				]
			},
			{
				"type": "heading_text",
				"name": "Heading Text",
				"limit": 2,
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Image with text overlay"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h2",
								"label": "Small"
							},
							{
								"value": "h1",
								"label": "Medium"
							},
							{
								"value": "h1-large",
								"label": "Large"
							},
							{
								"value": "h1-xlarge",
								"label": "Extra large"
							}
						],
						"default": "h1-xlarge"
					}
				]
			},
			{
        "type": "text",
        "name": "Text",
				"limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
					{
						"type": "select",
						"id": "description_size",
						"label": "Size",
						"options": [
							{
								"value": "small",
								"label": "Small"
							},
							{
								"value": "medium",
								"label": "Medium"
							},
							{
								"value": "large",
								"label": "Large"
							}
						],
						"default": "medium"
					}
        ]
      },
			{
        "type": "button",
        "name": "Button",
				"limit": 2,
        "settings": [
					{
						"id": "button_text",
						"type": "text",
						"label": "Button label",
						"default": "Shop Now",
						"info": "Leave the label blank to hide the button."
					},
					{
						"id": "button_link",
						"type": "url",
						"label": "Button link"
					},
					{
						"type": "select",
						"id": "button_color",
						"label": "Color",
						"options": [
							{
								"value": "regular",
								"label": "Regular"
							},
							{
								"value": "accent",
								"label": "Accent"
							},
							{
								"value": "white",
								"label": "White"
							}
						],
						"default": "accent"
					}
        ]
      },
      {
        "type": "space",
        "name": "Empty space",
        "settings": [
          {
            "type": "range",
            "id": "height",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Height",
            "default": 50
          }
        ]
      }
    ],
  	"max_blocks": 5,
    "presets": [
      {
        "name": "Image with text overlay",
				"blocks": [
					{
						"type": "subheading"
					},
					{
						"type": "heading"
					},
					{
						"type": "text"
					},
					{
						"type": "button"
					}
				]
      }
    ]
  }
{% endschema %}
