{%- assign collapsible_tabs = section.blocks | where: "type", "collapsible_tab" -%}
{%- if collapsible_tabs -%}
{{- 'collapsible-content.css' | asset_url | stylesheet_tag -}}
{%- endif -%}
{{- 'image-with-text.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign full_width = section.settings.full_width
	assign image = section.settings.image
	assign use_video = section.settings.use_video
	assign video = section.settings.video
	assign video_hosted = section.settings.video_hosted
	assign video_autoplay = section.settings.video_autoplay
	assign height = section.settings.height
	assign content_position = section.settings.content_position
	assign column_spacing = section.settings.column_spacing
	assign desktop_image_width = section.settings.desktop_image_width
	assign desktop_layout = section.settings.layout
	assign color_bg = section.settings.color_bg
	assign color_text = section.settings.color_text
	assign color_border = section.settings.color_border
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
	assign wistia_id = section.settings.wistia_id

	assign ratio = 1
	if height == 'adapt' and image != blank
		assign ratio = image.aspect_ratio
	endif

	if height == 'adapt' and use_video
	 	if video_hosted != blank
			assign ratio = video_hosted.aspect_ratio
		else
			assign ratio = 16.00 | divided_by: 9.00
		endif
	endif
-%}
<div class="row{% if full_width %} full-width-row{% endif %}">
	<div class="small-12 columns">
		<div class="image-with-text column-spacing--{{ column_spacing }} grid--image-{{ desktop_image_width }} {{ desktop_layout }} {{ content_position }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-bg:{{ color_bg }};--color-text:{{ color_text }};--color-text-rgb: {{ color_text.rgb | replace: ' ' , ',' }}; --solid-button-background: {{ color_text }}; --solid-button-background-hover: {{ color_text | color_darken: 7 }}; --solid-button-label: {{ color_bg }};--bg-body: {{ color_bg }};--color-border: {{ color_border }}">
			<div class="image-with-text--image image-with-text--inner" style="display: flex;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center; position: relative;">
				{% if wistia_id != blank %}
					<div class="play_button_wraper" style="position: absolute;z-index: 29;display: block;">
						<script src="https://fast.wistia.com/embed/medias/{{ wistia_id }}.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
						<span class="wistia_embed wistia_async_{{ wistia_id }} popover=true popoverAnimateThumbnail=true popoverContent=link" style="display: block;position: relative;width: 90px;height: 90px;"><a href="#" title="Play Video"><img src="{{ 'play-media.svg' | asset_url }}" alt="Play" class="play-btn" style="object-fit: contain;"></a></span>
					</div>
				{% endif %}
				<div class="image-with-text--image-media aspect-ratio aspect-ratio--{{ height }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
					{%- if use_video -%}
						{%- if video_hosted != blank -%}
							{{ video_hosted | video_tag: autoplay: video_autoplay, loop: true, controls: true, muted: video_autoplay, image_size: '630x' }}
						{%- elsif video != blank -%}
							{%- if video.type == 'youtube' -%}
								<iframe data-src="https://www.youtube.com/embed/{{ video.id }}?loop=1{%- if video_autoplay -%}&autoplay=1&mute=1{%- endif -%}&playlist={{ video.id }}&iv_load_policy=3&disablekb=1&controls=1&playsinline=1" frameborder="0" class="lazyload" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.heading | escape }}" tabindex="-1"></iframe>
							{%- else -%}
								<iframe data-src="https://player.vimeo.com/video/{{ video.id }}{%- if video_autoplay -%}?background=1{%- endif -%}" frameborder="0" class="lazyload" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.heading | escape }}" tabindex="-1"></iframe>
							{%- endif -%}
						{%- endif -%}
					{%- elsif image != blank -%}
						
						{%- liquid
							assign small_height = image.src.height | times: '690' | divided_by: image.src.width
							assign mid_height = image.src.height | times: '1280' | divided_by: image.src.width
							assign master_width = image.src.width | append: 'x' | append: image.src.height
							assign width = '690x' | append: small_height | append: ',' | append: '1280x' | append: mid_height | append: ',' | append: master_width

							render 'responsive-image', image: image, sizes: width
						-%}
					{%- else -%}
						{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
					{%- endif -%}
				</div>
			</div>
			<div class="image-with-text--content image-with-text--inner">
				<div class="image-with-text--content--inner">
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{%- when 'image' -%}
								<div class="image-with-text--content--image" {{ block.shopify_attributes }}>
									{%- if block.settings.image != blank -%}
										{% assign image = block.settings.image %}
										{% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
										{%- render 'responsive-image', image: image, sizes: master_width, retina: true -%}
									{%- else -%}
										{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
									{%- endif -%}
								</div>
							{%- when 'subheading' -%}
								<p class="subheading inline-badge" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
							{%- when 'heading' -%}
							{%- liquid
								assign marker_style = block.settings.marker_style
								assign marker_color = block.settings.marker_color
								assign text = block.settings.text | newline_to_br
							-%}
								<h3 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{% render 'animated-marker-heading', heading: text, style: marker_style, color: marker_color %}</h3>
							{%- when 'text' -%}
								<div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'custom_html'-%}
								<div class="custom_html_xlaw">{{ block.settings.custom_html }}</div>
							{%- when 'custom_liquid'-%}
								<div class="custom_liquid_xlaw">{{ block.settings.custom_liquid }}</div>
							{%- when 'button' -%}
								{% if block.settings.button_text != blank %}
									<a class="button accent" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}><span>{{ block.settings.button_text }}</span></a>
								{% endif %}
							{%- when 'text-button' -%}
							{% if block.settings.link_label != blank %}
								{% render 'text-button', url: block.settings.link, title: block.settings.link_label, data_attributes: block.settings.data_attributes %}
							{% endif %}
							{% when 'space' %}
		            <div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
							{% when 'collapsible_tab' %}
								<collapsible-row class="accordion" {{ block.shopify_attributes }}>
									<details id="Details-{{ block.id }}-{{ section.id }}" {% if block.settings.open %}open{% endif %}>
										<summary>
											{{ block.settings.heading | default: block.settings.page.title }}
											<span></span>
										</summary>
										<div class="collapsible__content accordion__content rte" id="Accordion-{{ block.id }}-{{ section.id }}">
											{{ block.settings.content }}
											{{ block.settings.page.content }}
										</div>
									</details>
								</collapsible-row>
						{%- endcase -%}
					{%- endfor -%}
				</div>
				
			</div>
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Image with text",
		"class": "section-image-with-text",
    "settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
				"info": "1340 x 1340 .jpg recommended."
			},
			{
				"id": "wistia_id",
				"type": "text",
				"label": "Wistia Video ID",
				"info": "Enter Wistia Video's ID (n2nftcw37x for example) popup functionality. Leave Blank if none."
			},
			{
				"type": "header",
				"content": "Video"
			},
			{
				"type": "checkbox",
				"id": "use_video",
				"default": false,
				"label": "Use video instead of image"
			},
			{
				"type": "video_url",
        "id": "video",
        "label": "Video URL",
				"accept": [
          "youtube",
          "vimeo"
        ],
				"placeholder": "Use a YouTube or Vimeo URL",
				"default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
				"info": "Video plays in a lightbox."
      },
			{
			  "type": "video",
			  "id": "video_hosted",
			  "label": "Shopify-hosted video",
				"info": "Overrides the Video URL setting."
			},
			{
				"type": "checkbox",
				"id": "video_autoplay",
				"default": true,
				"label": "Autoplay",
				"info": "Video will be muted"
			},
			{
				"type": "header",
				"content": "Layout"
			},
			{
	      "type": "select",
	      "id": "height",
	      "options": [
	        {
	          "value": "adapt",
	          "label": "Adapt to image"
	        },
	        {
	          "value": "small",
	          "label": "Small"
	        },
	        {
	          "value": "large",
	          "label": "Large"
	        }
	      ],
	      "default": "adapt",
	      "label": "Image height"
	    },
			{
				"type": "select",
				"id": "desktop_image_width",
				"options": [
					{
						"value": "small",
						"label": "Small"
					},
					{
						"value": "medium",
						"label": "Medium"
					},
					{
						"value": "large",
						"label": "Large"
					}
				],
				"default": "medium",
				"label": "Desktop image width",
				"info": "Image is automatically optimized for mobile."
			},
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Make section full width",
				"default": false
			},
			{
	      "type": "select",
	      "id": "layout",
	      "options": [
	        {
	          "value": "image_first",
	          "label": "Image first"
	        },
	        {
	          "value": "text_first",
	          "label": "Image second"
	        }
	      ],
	      "default": "image_first",
	      "label": "Desktop image placement",
	      "info": "Image first is the default mobile layout."
	    },
			{
				 "type": "select",
				 "id": "content_position",
				 "label": "Desktop content alignment",
				 "options": [
					 { "value": "text-center", "label": "Center" },
					 { "value": "text-left", "label": "Left" },
					 { "value": "text-right", "label": "Right" }
				 ],
				 "default": "text-left"
			},
			{
	      "type": "select",
	      "id": "column_spacing",
	      "options": [
	        {
	          "value": "small",
	          "label": "Small"
	        },
					{
	          "value": "medium",
	          "label": "Medium"
	        },
	        {
	          "value": "large",
	          "label": "Large"
	        }
	      ],
	      "default": "medium",
	      "label": "Column spacing"
	    },
			{
	      "type": "header",
	      "content": "Colors"
	    },
			{
        "type": "color",
        "id": "color_bg",
        "label": "Background",
        "default": "#ffffff"
      },
			{
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#2c2d2e"
      },
			{
        "type": "color",
        "id": "color_border",
        "label": "Borders",
        "default": "#e2e2e2"
      },
			{
				"type": "header",
				"content": "Spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
			{
				"type": "image",
				"name": "Image",
				"limit": 1,
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
				]
			},
			{
			"type": "custom_html",
			  "name": "Custom HTML",
			  "settings": [
				{
				  "type": "html",
				  "id": "custom_html",
				  "label": "Custom HTML",
				  "info": "Add Custom HTML Code."
				}
			  ]
			},
			{
			 "type": "custom_liquid",
			   "name": "Custom liquid",
			   "settings": [
				 {
				   "type": "liquid",
				   "id": "custom_liquid",
				   "label": "Custom liquid",
				   "info": "Add app snippets or other Liquid code to create advanced customizations."
				 }
			   ]
			 },
			{
				"type": "subheading",
				"name": "Subheading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Add a tagline"
					}
				]
			},
			{
				"type": "heading",
				"name": "Heading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Image with text",
						"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
					},
					{
						"type": "select",
						"id": "marker_style",
						"options": [
							{
								"value": "style1",
								"label": "Basic"
							},
							{
								"value": "style2",
								"label": "Double"
							},
							{
								"value": "style3",
								"label": "Squiggle"
							},
							{
								"value": "style4",
								"label": "Zigzag"
							}
						],
						"default": "style1",
						"label": "Marker"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h1",
								"label": "Extra Large"
							},
							{
								"value": "h2",
								"label": "Large"
							},
							{
								"value": "h3",
								"label": "Medium"
							},
							{
								"value": "h4",
								"label": "Small"
							}
						],
						"default": "h3"
					},
					{
			      "type": "header",
			      "content": "Colors"
			    },
					{
						"type": "color",
						"id": "marker_color",
						"label": "Marker",
						"default": "#FD6262"
					}
				]
			},
			{
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
        ]
      },
			{
        "type": "button",
        "name": "Button",
        "settings": [
					{
						"id": "button_text",
						"type": "text",
						"label": "Button label",
						"default": "Shop Now",
						"info": "Leave the label blank to hide the button."
					},
					{
						"id": "button_link",
						"type": "url",
						"label": "Button link"
					}
        ]
      },
	  {
		  "type": "text-button",
		  "name": "Link",
		  "settings": [
					  {
						  "id": "link_label",
						  "type": "text",
						  "label": "Label",
						  "default": "Learn More - Text Button",
						  "info": "Leave the label blank to hide the button."
					  },
					  {
						  "id": "link",
						  "type": "url",
						  "label": "Link"
					  }
		  ]
		},
      {
        "type": "space",
        "name": "Empty space",
        "settings": [
          {
            "type": "range",
            "id": "height",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Height",
            "default": 50
          }
        ]
      },
			{
				"type": "collapsible_tab",
				"name": "Collapsible row",
				"settings": [
						{
						"type": "text",
						"id": "heading",
						"default": "Collapsible row",
						"info": "Include a heading that explains the content.",
						"label": "Heading"
					},
					{
						"type": "checkbox",
						"id": "open",
						"default": false,
						"label": "Open by default"
					},
					{
						"type": "richtext",
						"id": "content",
						"label": "Row content"
					},
					{
						"type": "page",
						"id": "page",
						"label": "Row content from page"
					}
				]
			}
    ],
    "presets": [
      {
        "name": "Image with text",
				"blocks": [
					{
						"type": "subheading"
					},
					{
						"type": "heading"
					},
					{
						"type": "text"
					}
				]
      }
    ]
  }
{% endschema %}
