{{- 'logo-list.css' | asset_url | stylesheet_tag -}}

{%- liquid
	assign section_heading = section.settings.heading
	assign marker_style = section.settings.marker_style
	assign section_description = section.settings.description
	assign center_align = section.settings.center_align
	assign mobile_swipe = section.settings.mobile_swipe
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
    assign mobile_animation = section.settings.mobile_animation

	assign marker_color = section.settings.marker_color
	assign color_logo_bg = section.settings.color_logo_bg | downcase
	assign color_body_bg = settings.color_body_bg | downcase

	assign has_bg = true
	if color_body_bg == color_bg or color_bg == 'transparent' or color_bg == 'rgba(0,0,0,0)'
		assign has_bg = false
	endif
-%}

{% if mobile_animation %}
  {{- 'logo-list-advanced.css' | asset_url | stylesheet_tag -}}
{% endif %}

<div class="logo-list logo-list--centered-{{ center_align }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}{% if mobile_animation %} scroll-parent{% endif %}">
	{% render 'section-header', section_heading: section_heading, section_description: section_description, marker_color: marker_color, marker_style: marker_style %}
	<div class="logo-list--inner{% if mobile_swipe %} swipe-on-mobile{% endif %}{% if mobile_animation %} scroll-element primary{% endif %}" style="--logo-columns: {{ section.settings.columns }}; --logo-bg: {{ color_logo_bg }};">
		{% for block in section.blocks %}
		<a class="logo-list--logo {% if has_bg -%}logo-list--logo--has-bg{% endif %}" {% if block.settings.link %}href="{{ block.settings.link | escape }}" {% else %}aria-disabled{% endif %} {{ block.shopify_attributes }}>
		{% if block.settings.image %}
		  {% assign image = block.settings.image %}
					{% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
					{%- render 'responsive-image', image: image, sizes: master_width -%}
				{% else %}
					<div class="thb-placeholder">
						{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
					</div>
		{% endif %}
		</a>
	  {% endfor %}
	</div>
	{% if mobile_animation%}
		<div class="logo-list--inner{% if mobile_swipe %} swipe-on-mobile{% endif %}{% if mobile_animation %} scroll-element secondary{% endif %}" style="--logo-columns: {{ section.settings.columns }}; --logo-bg: {{ color_logo_bg }};">
			{% for block in section.blocks %}
			<a class="logo-list--logo {% if has_bg -%}logo-list--logo--has-bg{% endif %}" {% if block.settings.link %}href="{{ block.settings.link | escape }}" {% else %}aria-disabled{% endif %} {{ block.shopify_attributes }}>
			{% if block.settings.image %}
			  {% assign image = block.settings.image %}
						{% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
						{%- render 'responsive-image', image: image, sizes: master_width -%}
					{% else %}
						<div class="thb-placeholder">
							{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
						</div>
			{% endif %}
			</a>
		  {% endfor %}
		</div>
	{% endif %}
</div>
{% schema %}
  {
	"name": "Logo list Advanced",
	"settings": [
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Logo list Advanced",
				"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
			},
			{
				"type": "select",
				"id": "marker_style",
				"options": [
					{
						"value": "style1",
						"label": "Basic"
					},
					{
						"value": "style2",
						"label": "Double"
					},
					{
						"value": "style3",
						"label": "Squiggle"
					},
					{
						"value": "style4",
						"label": "Zigzag"
					}
				],
				"default": "style1",
				"label": "Marker"
			},
			{
				"type": "richtext",
				"id": "description",
				"label": "Description",
				"default": "<p>Add a short description for this section</p>"
			},
			{
		"type": "range",
		"id": "columns",
		"min": 2,
		"max": 6,
		"step": 1,
		"label": "Number of columns on desktop",
		"default": 6
	  },
			{
				"type": "checkbox",
				"id": "mobile_swipe",
				"default": true,
				"label": "Enable swipe on mobile"
			},
      		{
				"type": "checkbox",
				"id": "mobile_animation",
				"default": true,
				"label": "Enable scrolling animation on mobile."
			},
			{
				"type": "checkbox",
				"id": "center_align",
				"label": "Center align logos",
				"default": true
			},
			{
		  "type": "header",
		  "content": "Spacing"
		},
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			},
			{
		  "type": "header",
		  "content": "Colors"
		},
			{
		"type": "color",
		"id": "color_logo_bg",
		"label": "Logo background",
		"default": "#ffffff"
	  },
			{
				"type": "color",
				"id": "marker_color",
				"label": "Marker",
				"default": "#FD6262"
			}
	],
	"blocks": [
	  {
		"type": "logo",
		"name": "Logo",
		"settings": [
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Logo",
						"info": "240 x 100 px .png recommended."
		  },
		  {
			"id": "link",
			"type": "url",
			"label": "Link",
			"info": "Select an optional link."
		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Logo list",
				"blocks": [
			{
			  "type": "logo"
			},
			{
			  "type": "logo"
			},
			{
			  "type": "logo"
			},
			{
			  "type": "logo"
			},
			{
			  "type": "logo"
			}
		  ]
	  }
	]
  }
{% endschema %}