{{- 'multicolumn.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign section_heading = section.settings.heading
  assign marker_style = section.settings.marker_style
  assign section_description = section.settings.description
  assign columns_desktop = section.settings.columns_desktop
  assign heading_size = section.settings.heading_size
  assign mobile_swipe = section.settings.mobile_swipe
  assign mobile_slideshow = section.settings.mobile_slideshow
  assign image_ratio = section.settings.image_ratio
  assign text_alignment = section.settings.text_alignment

  assign color_heading = section.settings.color_heading
  assign marker_color = section.settings.marker_color
  assign color_text = section.settings.color_text
  assign color_links = section.settings.color_links

  assign disable_top_spacing = section.settings.disable_top_spacing
  assign disable_bottom_spacing = section.settings.disable_bottom_spacing

  case columns_desktop
    when 2
      assign columns_desktop_class = 'medium-6'
    when 3
      assign columns_desktop_class = 'medium-4'
    when 4
      assign columns_desktop_class = 'medium-3'
    when 5
      assign columns_desktop_class = 'medium-1/5 large-1/5'
  endcase
-%}

{% if mobile_slideshow %}
  
  {{- 'flickity.css' | asset_url | stylesheet_tag -}}
  {{- 'flickity.pkgd.min.js' | asset_url | script_tag -}}
  
  <style>
    .multiparent {
      justify-content: center;
    }
    .multicolumn_slideshow {
          width: 1200px;
          margin: 0 auto;
    }
    @media only screen and (max-width: 768px) {    
    .multicolumn_slideshow {
      display: block;
    }
    .multicolumn_slideshow:after {
      content: 'flickity';
      display: none;
    }
    .multicolumn__column {
      width: 80vh;
    }
  }
  </style>
{% endif %}

<div
  class="multicolumn {% if mobile_swipe %} swipe-on-mobile{% endif %} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}"
  style="--color-heading: {{ color_heading }}; --color-text: {{ color_text }}; --color-accent: {{ color_links }}; --color-accent-rgb: {{ color_links.rgb | replace: ' ' , ',' }};"
>
  <div class="row">
    <div class="small-12 small-12-xlaw columns">
      {% render 'section-header',
        section_heading: section_heading,
        section_description: section_description,
        marker_color: marker_color,
        marker_style: marker_style
      %}
      <div class="multicolumn__inner multicolumn__inner_xlaw text-{{ text_alignment }}">
        <div class="row align-stretch no-padding multiparent">
          {% if mobile_slideshow %}
            <div class="row multicolumn_slideshow" data-flickity='{"draggable": false, "freeScroll": true, "wrapAround": true, "pageDots": false, "watchCSS": true, "groupCells": false, "selectedAttraction": 0.01,"friction": 0.15, "cellAlign": "center", "contain": true, "autoPlay": 2500 }'>
          {% endif %}
          {%- for block in section.blocks -%}
            <div class="multicolumn__column small-12 {{ columns_desktop_class }} columns">
              {% if block.settings.image != blank %}
                {%- liquid
                  assign ratio = 1
                  assign max_width = block.settings.image.width | divided_by: 2 | append: 'px'
                  assign image_link = block.settings.image_link
                  assign wistia_id = block.settings.wistia_id
                  if image_ratio == 'adapt'
                    assign ratio = block.settings.image.aspect_ratio
                  endif
                  if block.settings.image_full_width
                    assign max_width = '100%'
                  endif
                -%}
                  <figure class="multicolumn__image" style="width: {{ max_width }};">
                    <div
                      class="multicolumn__image--inner aspect-ratio aspect-ratio--{{ image_ratio }}"
                      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
                    >
                      {% if image_link != blank %}
                        <a href="{{ image_link }}">
                      {% endif %}
                      {%- render 'responsive-image', image: block.settings.image, sizes: '407x0,814x0', retina: true -%}
                      {% if image_link != blank %}
                        </a>
                      {% endif %}
                      {% if wistia_id != blank %}
                        <div class="play_button_wraper">
                          <script src="https://fast.wistia.com/embed/medias/{{ wistia_id }}.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                          <span class="wistia_embed wistia_async_{{ wistia_id }} popover=true popoverAnimateThumbnail=true popoverContent=link" style="display: block;position: relative;width: 90px;height: 90px;"><a href="#" title="Play Video"><img src="{{ 'play-media.svg' | asset_url }}" alt="Play" class="play-btn" style="object-fit: contain;"></a></span>
                        </div>
                      {% endif %}
                    </div>
                  </figure>
              {% endif %}
              <div class="multicolumn-text-content">
                {% if block.settings.title != blank %}
                  <h4 class="{{ heading_size }}">{{ block.settings.title | newline_to_br }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.custom_html != blank %}
                  <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.custom_html }}</div>
                {% endif %}
                {% if block.settings.custom_liquid != blank %}
                  <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
                {% endif %}
                {% if block.settings.link_label != blank %}
                  {% render 'text-button', url: block.settings.link, title: block.settings.link_label %}
                {% endif %}
              </div>
            </div>
          {%- endfor -%}
          {% if mobile_slideshow %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Multicolumn",
"class": "section-multicolumn",
  "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Multicolumn",
		"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
    },
	{
		"type": "select",
		"id": "marker_style",
		"options": [
			{
				"value": "style1",
				"label": "Basic"
			},
			{
				"value": "style2",
				"label": "Double"
			},
			{
				"value": "style3",
				"label": "Squiggle"
			},
			{
				"value": "style4",
				"label": "Zigzag"
			}
		],
		"default": "style1",
		"label": "Marker"
	},
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Add a short description for this section</p>"
    },


	{
     "type": "range",
     "id": "columns_desktop",
     "min": 2,
     "max": 5,
     "step": 1,
     "default": 4,
     "label": "Number of columns on desktop"
   },
	{
     "type": "checkbox",
     "id": "mobile_swipe",
     "default": false,
     "label": "Enable swipe on mobile"
   },
   {
      "type": "checkbox",
      "id": "mobile_slideshow",
      "default": false,
      "label": "Enable a slideshow on mobile"
    },
	{
     "type": "select",
     "id": "image_ratio",
     "options": [
       {
         "value": "adapt",
         "label": "Adapt to image"
       },
       {
         "value": "portrait",
         "label": "Portrait"
       },
       {
         "value": "square",
         "label": "Square"
       },
       {
         "value": "circle",
         "label": "Circle"
       }
     ],
     "default": "adapt",
     "label": "Image ratio"
   },
	{
     "type": "select",
     "id": "text_alignment",
     "options": [
       {
         "value": "left",
         "label": "Left"
       },
       {
         "value": "center",
         "label": "Center"
       },
       {
         "value": "right",
         "label": "Right"
       }
     ],
     "default": "left",
     "label": "Content alignment"
   },
	{
		"type": "select",
		"id": "heading_size",
		"label": "Content heading size",
		"options": [
			{
				"value": "h3",
				"label": "Extra Large"
			},
			{
				"value": "h4",
				"label": "Large"
			},
			{
				"value": "h5",
				"label": "Medium"
			},
			{
				"value": "h6",
				"label": "Small"
			}
		],
		"default": "h5"
	},
	{
     "type": "header",
     "content": "Colors"
   },
	{
      "type": "color",
      "id": "color_heading",
      "label": "Heading",
      "default": "#1a1c1d"
    },
	{
		"type": "color",
		"id": "marker_color",
		"label": "Marker",
		"default": "#FD6262"
	},
	{
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#2c2d2e"
    },
	{
      "type": "color",
      "id": "color_links",
      "label": "Links",
      "default": "#2c2d2e"
    },
	{
     "type": "header",
     "content": "Spacing"
   },
	{
		"type": "checkbox",
		"id": "disable_top_spacing",
		"default": false,
		"label": "Remove top spacing"
	},
	{
		"type": "checkbox",
		"id": "disable_bottom_spacing",
		"default": false,
		"label": "Remove bottom spacing"
	}
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
				"info": "770 x 770 .jpg recommended."
			},
			{
				"type": "checkbox",
				"id": "image_full_width",
				"label": "Fit image to column",
				"default": false
			},
       {
         "type": "url",
         "id": "image_link",
         "label": "Image link"
       },
       {
         "id": "wistia_id",
         "type": "text",
         "label": "Wistia Video ID",
         "info": "Enter Wistia Video's ID (rh289v5b82 for example) popup functionality. Leave Blank if none. Don't combine with Image Link"
       },
			{
				"type": "text",
				"id": "title",
				"default": "Column",
				"label": "Heading"
			},
			{
				"type": "richtext",
				"id": "text",
				"default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
				"label": "Description"
			},
        {
     "type": "textarea",
     "id": "custom_html",
     "label": "Custom HTML"
     },
     {
    "type": "liquid",
    "id": "custom_liquid",
    "label": "Custom Liquid"
     },
       {
         "type": "text",
         "id": "link_label",
         "label": "Link label"
       },
       {
         "type": "url",
         "id": "link",
         "label": "Link"
       }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn",
		"blocks": [
       {
         "type": "column"
       },
       {
         "type": "column"
       },
       {
         "type": "column"
       },
       {
         "type": "column"
       }
     ]
    }
  ]
}
{% endschema %}
