{{- 'slideshow.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign desktop_height = section.settings.desktop_height
	assign mobile_height = section.settings.mobile_height
	assign full_width = section.settings.full_width
	assign controls = section.settings.controls
	assign transition = section.settings.transition
	assign autoplay = section.settings.autoplay
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

 	assign enable_controls = true
	if section.blocks.size < 2
		assign enable_controls = false
	endif

	if autoplay
		assign autoplay = section.settings.autoplay_length | times: 1000
	endif

	case mobile_height
		when 'mobile-height-400'
			assign mobile_image_height = 400
		when 'mobile-height-450'
			assign mobile_image_height = 450
		when 'mobile-height-500'
			assign mobile_image_height = 500
		else
			assign mobile_image_height = 500
	endcase

	assign fade = true
	if transition == 'slide'
		assign fade = false
	endif

	assign dots = false
	if controls == 'dots'
		assign dots = true
	endif
-%}
<div class="row{% if full_width %} full-width-row{% endif %}">
	<div class="small-12 columns">
		<slide-show class="slideshow main-slideshow slideshow--full-width-{{ full_width }} carousel {{ mobile_height }} {{ desktop_height }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %} transition--{{ transition }}" data-dots="{{ dots }}" data-autoplay="{{ autoplay }}" data-fade="{{ fade }}" data-transition="{{ transition }}" style="--dot-speed: {{ autoplay | divided_by: 1000 | append: 's' }};--color-text: #fff;">
			{%- if autoplay -%}
				{%- assign first_color = section.blocks[0].settings.color_text -%}
			<div class="slideshow--autoplay-progress" style="--color-body: {{ first_color }}">
				{%- render 'svg-icons' with 'thb-slideshow-progress' -%}
			</div>
			{%- endif -%}
			{%- for block in section.blocks -%}
				{%- liquid
					assign content_position = block.settings.content_position
					assign text_alignment = block.settings.text_alignment
					assign content_size = block.settings.content_size
					assign color_text = block.settings.color_text

					assign color_slidebg = block.settings.color_slidebg
					assign color_slidebg_opacity = block.settings.color_slidebg_opacity
					assign color_slidebg_blur = block.settings.color_slidebg_blur

					assign overlay_color = block.settings.overlay_color
					assign overlay_opacity = block.settings.overlay_opacity

					assign has_visible_bg = false
					if color_slidebg_blur > 0 or color_slidebg != 'rgba(0,0,0,0)'
						assign has_visible_bg = true
					endif

					if color_slidebg == 'rgba(0,0,0,0)'
						assign color_slidebg_opacity = 0
					endif
				-%}
				<div class="slideshow__slide carousel__slide {{ mobile_height }} {{ desktop_height }} text-{{ text_alignment }} content-size-{{ content_size }}" style="--color-text: {{ color_text }}; --overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}; --color-slidebg-rgb: {{ color_slidebg.rgb | replace: ' ' , ',' }}; --color-slidebg-opacity: {{ color_slidebg_opacity | divided_by: 100.0 }}; --bg-blur: {{ color_slidebg_blur | append: 'px' }} " {{ block.shopify_attributes }}>
					{%- if desktop_height == 'desktop-height-image' or mobile_height == 'mobile-height-image' -%}
						<div class="slideshow__slide-adapt-to-image">
							{%- if block.settings.image -%}
								{%- liquid
									assign image = block.settings.image
									assign master_width = image.src.width | append: 'x' | append: image.src.height
									assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

									assign class = ''
									if block.settings.mobile_image
										assign class = 'slideshow-image--desktop'
									endif
								 -%}
								 <img data-src="{{ image | image_url }}" class="lazyload {{ class }}" width="{{ image.src.width }}" height="{{ image.src.height }}" alt="{{ image.alt }}" />
							{%- else -%}
								{%- assign index = forloop.index | modulo: 2 | plus: 1 -%}
								{{ 'lifestyle-' | append: index | placeholder_svg_tag: 'placeholder_svg_tag' }}
							{%- endif -%}
							{%- if block.settings.mobile_image -%}
								{%- liquid
									assign image = block.settings.mobile_image
									assign master_width = image.src.width | append: 'x' | append: image.src.height
									assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
								 -%}
								<img data-src="{{ image | image_url }}" class="lazyload slideshow-image--mobile" width="{{ image.src.width }}" height="{{ image.src.height }}" alt="{{ image.alt }}" />
							{%- endif -%}
						</div>
					{%- endif -%}
					<div class="slideshow__slide-bg">
						{%- if block.settings.image -%}
							{%- liquid
								assign image = block.settings.image
								assign master_width = image.src.width | append: 'x' | append: image.src.height
								assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
								assign class = nil

								if block.settings.mobile_image != blank
									assign class = 'slideshow-image--desktop'
								endif
							 -%}
							{%- render 'responsive-image', image: image, sizes: width, class: class -%}
						{%- else -%}
							{%- assign index = forloop.index | modulo: 2 | plus: 1 -%}
							{{ 'lifestyle-' | append: index | placeholder_svg_tag: 'placeholder_svg_tag' }}
						{%- endif -%}
						{%- if block.settings.mobile_image != blank -%}
							{%- liquid
								assign image = block.settings.mobile_image
								assign master_width = image.src.width | append: 'x' | append: image.src.height
								assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
							 -%}
							{%- render 'responsive-image', image: image, sizes: width, class: 'slideshow-image--mobile' -%}
						{%- endif -%}
					</div>
					{%- if block.settings.video_background -%}
						{%- liquid
							assign video = block.settings.video_hosted
							assign autoplay = false
							if forloop.index == 1
								assign autoplay = true
							endif
						-%}
						<div class="slideshow__slide-video-bg{% if block.settings.video_background_mobile %} desktop-only{% endif %}" data-provider="hosted" data-video-id="{{ video.id }}">
							{{ video | video_tag: autoplay: autoplay, loop: true, controls: false, muted: true }}
						</div>
					{%- endif -%}
					{%- if block.settings.video_background_mobile -%}
						{%- liquid
							assign video_mobile = block.settings.video_hosted_mobile
							assign autoplay = false
							if forloop.index == 1
								assign autoplay = true
							endif
						-%}
						<div class="slideshow__slide-video-bg mobile-only" data-provider="hosted" data-video-id="{{ video_mobile.id }}">
							{{ video_mobile | video_tag: autoplay: autoplay, loop: true, controls: false, muted: true }}
						</div>
					{%- endif -%}
					<div class="slideshow__slide-overlay" style="background: {{ block.settings.overlay_gradient }}"></div>
					<div class="slideshow__slide-inner content-{{ content_position }} content-has-bg--{{ has_visible_bg }}">
						<div class="slideshow__slide-content">
							{% if block.settings.badge_text != blank %}
								<div>
									<span class="inline-badge" style="--badge-bg: {{ block.settings.color_badge_bg }};--badge-text: {{ block.settings.color_badge_text }}">{{ block.settings.badge_text }}</span>
								</div>
							{% endif %}
							{% if block.settings.subheading != blank %}
								<p class="subheading" style="color:{{ block.settings.color_subheading }}">{{ block.settings.subheading }}</p>
							{% endif %}
							{% if block.settings.heading != blank %}
								<h1 class="split-text slideshow__slide-heading {{ block.settings.heading_size }}">{{ block.settings.heading | newline_to_br }}</h1>
							{% endif %}
							{% if block.settings.content != blank %}
							<p class="split-text description-size--{{ block.settings.description_size }}">{{ block.settings.content | newline_to_br }}</p>
							{% endif %}
							{% if block.settings.button_1_text != blank %}
							<div class="button-overflow-container">
								{% if block.settings.use_text_button_1 %}
								{% render 'text-button', url: block.settings.button_1_link, title: block.settings.button_1_text, class: block.settings.button_1_color %}
								{% else %}
								{% if block.settings.wistia_id != blank %}
								<script src="https://fast.wistia.com/embed/medias/{{ block.settings.wistia_id }}.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
								<span class="wistia_embed wistia_async_{{ block.settings.wistia_id }} popover=true popoverAnimateThumbnail=true popoverContent=link"><a class="button button_wistia {{ block.settings.button_1_color }}" href="#" role="button" title="{{ block.settings.button_1_text | escape }}">{{ block.settings.button_1_text }}</a></span>
								{% else %}
								<a class="button {{ block.settings.button_1_color }}" href="{{ block.settings.button_1_link }}" role="button" title="{{ block.settings.button_1_text | escape }}">{{ block.settings.button_1_text }}</a>
								{% endif %}
								{% endif %}
							</div>
			        {% endif %}
							{% if block.settings.button_2_text != blank %}
							<div class="button-overflow-container">
								{% if block.settings.use_text_button_2 %}
								{% render 'text-button', url: block.settings.button_2_link, title: block.settings.button_2_text, class: block.settings.button_2_color %}
								{% else %}
								<a class="button {{ block.settings.button_2_color }}" href="{{ block.settings.button_2_link }}" role="button" title="{{ block.settings.button_2_text | escape }}">{{ block.settings.button_2_text }}</a>
								{% endif %}
							</div>
			        {% endif %}
							{% if block.settings.slide_link != blank %}
							<a href="{{ block.settings.slide_link }}" class="slideshow__slide-content-link" target="_blank" tabindex="-1"></a>
							{% endif %}
						</div>
					</div>
				</div>
			{%- endfor -%}
			{%- if enable_controls -%}
				{%- if controls == 'arrows-with-numbers' -%}
				<div class="flickity-custom-navigation-wrapper">
					<div class="flickity-custom-navigation">
						<div class="flickity-nav flickity-prev" tabindex="0">{%- render 'svg-icons' with 'carousel-prev' -%}</div>
						<div class="flickity-custom-navigation--dots">
							<span class="flickity-custom-navigation--current">1</span>
							<span class="flickity-custom-navigation--seperator">/</span>
							<span class="flickity-custom-navigation--total">{{ section.blocks.size }}</span>
						</div>
						<div class="flickity-nav flickity-next" tabindex="0">{%- render 'svg-icons' with 'carousel-next' -%}</div>
					</div>
				</div>
				{%- elsif controls == 'arrows' -%}
				<div class="flickity-custom-navigation-wrapper">
					<div class="flickity-static-arrows">
						<div class="flickity-nav flickity-prev" tabindex="0">{%- render 'svg-icons' with 'carousel-prev' -%}</div>
						<div class="flickity-nav flickity-next" tabindex="0">{%- render 'svg-icons' with 'carousel-next' -%}</div>
					</div>
				</div>
				{%- endif -%}
			{%- endif -%}
		</slide-show>
	</div>
</div>
{% schema %}
  {
    "name": "Slideshow",
		"class": "section-slideshow",
    "settings": [
			{
				"type": "select",
				"id": "desktop_height",
				"label": "Desktop height",
				"options": [
					{
						"value": "desktop-height-image",
						"label": "Adapt to image"
					},
					{
						"value": "desktop-height-auto",
						"label": "Adapt to content"
					},
					{
						"value": "desktop-height-450",
						"label": "450px"
					},
					{
						"value": "desktop-height-550",
						"label": "550px"
					},
					{
						"value": "desktop-height-650",
						"label": "650px"
					},
					{
						"value": "desktop-height-750",
						"label": "750px"
					},
					{
						"value": "desktop-height-full",
						"label": "Full screen"
					}
				],
				"default": "desktop-height-650"
			},
			{
				"type": "select",
				"id": "mobile_height",
				"label": "Mobile height",
				"options": [
					{
						"value": "mobile-height-image",
						"label": "Adapt to image"
					},
					{
						"value": "mobile-height-auto",
						"label": "Adapt to content"
					},
					{
						"value": "mobile-height-400",
						"label": "400px"
					},
					{
						"value": "mobile-height-450",
						"label": "450px"
					},
					{
						"value": "mobile-height-500",
						"label": "500px"
					},
					{
						"value": "mobile-height-full",
						"label": "Full screen"
					}
				],
				"default": "mobile-height-500"
			},
			{
        "type": "checkbox",
        "id": "full_width",
        "label": "Make section full width",
        "default": true
      },
			{
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
			{
				"type": "range",
				"id": "autoplay_length",
				"min": 3,
				"max": 10,
				"step": 1,
				"unit": "s",
				"label": "Change slides every",
				"default": 5
			},
			{
				"type": "select",
				"id": "transition",
				"label": "Transition",
				"options": [
					{
						"value": "zoom",
						"label": "Zoom"
					},
					{
						"value": "fade",
						"label": "Fade"
					},
					{
						"value": "slide",
						"label": "Slide"
					}
				],
				"default": "zoom"
			},
			{
				"type": "select",
				"id": "controls",
				"label": "Controls",
				"options": [
					{
						"value": "arrows-with-numbers",
						"label": "Arrows with numbers"
					},
					{
						"value": "arrows",
						"label": "Arrows"
					},
					{
						"value": "dots",
						"label": "Dots"
					}
				],
				"default": "arrows-with-numbers"
			},
			{
	      "type": "header",
	      "content": "Spacing"
	    },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image",
						"info": "2800 x 1000 .jpg recommended for full screen layouts."
					},
					{
						"type": "image_picker",
						"id": "mobile_image",
						"label": "Mobile image (optional)"
					},
					{
            "id": "slide_link",
            "type": "url",
            "label": "Slide link",
						"info": "Adds a link to slide image"
          },
					{
			      "type": "header",
			      "content": "Video"
			    },
					{
		        "type": "checkbox",
		        "id": "video_background",
		        "label": "Use video as a background",
		        "default": false
		      },
					{
					  "type": "video",
					  "id": "video_hosted",
					  "label": "Shopify-hosted video",
						"info": "Overrides the Video URL setting."
					},
					{
						  "type": "header",
						  "content": "Video Mobile"
						},
							{
						"type": "checkbox",
						"id": "video_background_mobile",
						"label": "Use a different on mobile video as a background",
						"default": false
					  },
					{
					  "type": "video",
					  "id": "video_hosted_mobile",
					  "label": "Shopify-hosted video Mobile",
						"info": "Overrides the Video URL setting."
					},
					{
			      "type": "header",
			      "content": "Content"
			    },
					{
						"type": "text",
						"id": "badge_text",
						"label": "Badge"
					},
					{
						"type": "text",
						"id": "subheading",
						"label": "Subheading",
						"default": "Add a tagline"
					},
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "Slide Heading"
          },
					{
						"type": "select",
						"id": "heading_size",
						"label": "Heading size",
						"options": [
							{
								"value": "h1",
								"label": "Large"
							},
							{
								"value": "h2",
								"label": "Medium"
							},
							{
								"value": "h3",
								"label": "Small"
							}
						],
						"default": "h1"
					},
          {
            "type": "textarea",
            "id": "content",
            "label": "Description",
            "default": "Add descriptive text for your slide here."
          },
					{
						"type": "select",
						"id": "description_size",
						"label": "Description size",
						"options": [
							{
								"value": "small",
								"label": "Small"
							},
							{
								"value": "medium",
								"label": "Medium"
							},
							{
								"value": "large",
								"label": "Large"
							}
						],
						"default": "medium"
					},
					{
						 "type": "select",
						 "id": "content_position",
						 "label": "Content position",
						 "options": [
							 { "value": "middle-left", "label": "Middle left" },
							 { "value": "middle-center", "label": "Middle center" },
							 { "value": "middle-right", "label": "Middle right" },
							 { "value": "bottom-left", "label": "Bottom left" },
							 { "value": "bottom-center", "label": "Bottom center" },
							 { "value": "bottom-right", "label": "Bottom right" }
						 ],
						 "default": "middle-center"
					},
					{
						"type": "select",
						"id": "text_alignment",
						"options": [
							{
								"value": "left",
								"label": "Left"
							},
							{
								"value": "center",
								"label": "Center"
							},
							{
								"value": "right",
								"label": "Right"
							}
						],
						"default": "center",
						"label": "Content alignment"
					},
					{
						"type": "select",
						"id": "content_size",
						"options": [
							{
								"value": "small",
								"label": "Small"
							},
							{
								"value": "medium",
								"label": "Medium"
							},
							{
								"value": "large",
								"label": "Large"
							}
						],
						"default": "medium",
						"label": "Content width"
					},
					{
			      "type": "header",
			      "content": "Colors"
			    },
					{
		        "type": "color",
		        "id": "color_slidebg",
		        "label": "Background",
		        "default": "transparent"
		      },
					{
						"type": "range",
						"id": "color_slidebg_opacity",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"label": "Background opacity",
						"default": 0
					},
					{
						"type": "range",
						"id": "color_slidebg_blur",
						"min": 0,
						"max": 30,
						"step": 1,
						"unit": "px",
						"label": "Background blur",
						"default": 20
					},
					{
		        "type": "color",
		        "id": "color_text",
		        "label": "Text",
		        "default": "#2c2d2e"
		      },
			  {
				  "type": "color",
				  "id": "color_subheading",
				  "label": "Subheading",
				  "default": "#2c2d2e"
				},
					{
						"type": "color",
						"id": "color_badge_bg",
						"label": "Badge background",
						"default": "#3f72e5"
					},
					{
						"type": "color",
						"id": "color_badge_text",
						"label": "Badge text",
						"default": "#ffffff"
					},
					{
		        "type": "color",
		        "id": "overlay_color",
		        "label": "Overlay",
		        "default": "#000000"
		      },
					{
						"type": "range",
						"id": "overlay_opacity",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"label": "Overlay opacity",
						"default": 70
					},
					{
					  "type": "color_background",
					  "id": "overlay_gradient",
					  "label": "Overlay gradient",
					  "default": "linear-gradient(180deg, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.4) 100%)"
					},
					{
			      "type": "header",
			      "content": "Button 1"
			    },
          {
            "id": "button_1_text",
            "type": "text",
            "label": "Label",
            "default": "Shop Now",
						"info": "Leave the label blank to hide the button."
          },
					{
						"type": "select",
						"id": "button_1_color",
						"label": "Color",
						"options": [
							{
								"value": "regular",
								"label": "Regular"
							},
							{
								"value": "accent",
								"label": "Accent"
							},
							{
								"value": "white",
								"label": "White"
							}
						],
						"default": "accent"
					},
					{
						 "type": "text",
						 "id": "wistia_id",
						 "label": "Wistia Video Id",
						 "info": "Enter Wistia Video's ID (n2nftcw37x for example) popup functionality. Leave Blank if none."
					},
          {
            "id": "button_1_link",
            "type": "url",
            "label": "Link"
          },
					{
						 "type": "checkbox",
						 "id": "use_text_button_1",
						 "label": "Use text button",
						 "default": false
					},
					{
			      "type": "header",
			      "content": "Button 2"
			    },
          {
            "id": "button_2_text",
            "type": "text",
            "label": "Label",
            "default": "Shop Now",
						"info": "Leave the label blank to hide the button."
          },
					{
						"type": "select",
						"id": "button_2_color",
						"label": "Color",
						"options": [
							{
								"value": "regular",
								"label": "Regular"
							},
							{
								"value": "accent",
								"label": "Accent"
							},
							{
								"value": "white",
								"label": "White"
							}
						],
						"default": "white"
					},
          {
            "id": "button_2_link",
            "type": "url",
            "label": "Link"
          },
					{
						 "type": "checkbox",
						 "id": "use_text_button_2",
						 "label": "Use text button",
						 "default": false
					}
        ]
      }
    ],
  	"max_blocks": 10,
    "presets": [
      {
        "name": "Slideshow",
				"blocks": [
					{
						"type": "slide"
					},
					{
						"type": "slide"
					},
					{
						"type": "slide"
					}
				]
      }
    ]
  }
{% endschema %}
